/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	font-weight: 500;
	color: black;
	background-color: white;
}

.footer-content{
	@media (min-width: 992px){
		padding-top: 15px;
	}
}

.footer-info{
	h2{
		font-weight: 600;
		border-bottom: 1px solid black;
		display: inline-block;
	}
	.icon-content{
		min-width: 60px;
		font-size: 1.8em;
	}
}



.copy-content{
	font-size: 0.85em;
	padding: 8px 0;
	background-color: black;
	.row{
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}
	}
}
.copyright{
}
.dev{
}

