@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b51tgk');
  src:  url('fonts/icomoon.eot?b51tgk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b51tgk') format('truetype'),
    url('fonts/icomoon.woff?b51tgk') format('woff'),
    url('fonts/icomoon.svg?b51tgk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-phonebook:before {
  content: "\e900";
}
.icm-phone-call:before {
  content: "\e901";
}
.icm-project:before {
  content: "\e902";
}
.icm-ruler:before {
  content: "\e903";
}
.icm-address:before {
  content: "\e904";
}
.icm-calendar:before {
  content: "\e905";
}
.icm-customer-service:before {
  content: "\e906";
}
.icm-download-arrow:before {
  content: "\e907";
}
.icm-email:before {
  content: "\e908";
}
.icm-envelope:before {
  content: "\e909";
}
.icm-facebook:before {
  content: "\e90a";
}
.icm-home:before {
  content: "\e90b";
}
.icm-instagram:before {
  content: "\e90c";
}
.icm-lamp:before {
  content: "\e90d";
}
.icm-payment-method:before {
  content: "\e90e";
}
