$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-phonebook: "\e900";
$icm-phone-call: "\e901";
$icm-project: "\e902";
$icm-ruler: "\e903";
$icm-address: "\e904";
$icm-calendar: "\e905";
$icm-customer-service: "\e906";
$icm-download-arrow: "\e907";
$icm-email: "\e908";
$icm-envelope: "\e909";
$icm-facebook: "\e90a";
$icm-home: "\e90b";
$icm-instagram: "\e90c";
$icm-lamp: "\e90d";
$icm-payment-method: "\e90e";

